@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f6f5f7;
  margin: 0;
  padding: 0;
}
